body
{
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

    font-family: 'Open Sans', Arial, sans-serif;
    color: black;
}   

ul, li {
    display: inline;
    list-style: none;
    margin: 0 auto;
}

li {
    margin-right: 30px;
}

a {
    text-transform: uppercase;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #00dd55;
}

.logo {
    height: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    background-color: #fff;
}
.logo {
	background-image: "/../img/logo.jpg";
	background-size: auto;
}

nav {
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: white;
}

.carrousel {
    margin: 20px 40px;
    height: 450px;
    max-height: 450px;
    background-color: #444;
}

.missao-empresa {
    background-color: #eee;
    margin: 15px 10px;
}
.missao-empresa > p, .missao-empresa > h2 {
    color: #333;
}