.imagem{
	border-radius: 20px;
	margin-top: 70px;
	max-width:300px;
    width: auto;
    margin-left: 40px;
    float:left;
}

.sobre{
	float: right;
	margin-right:200px;
	margin-top:90px;
	width: 400px;
	padding: 10px;
	background-color:#F2F2F2;
	font-size: 16px;
	border-radius: 5px 5px;
	width: 700px;
}

h2{
	margin-left: 410px;
	margin-top: 50px;
	margin-bottom: -80px;
}

.missao-empresa{
	width: 370px;
	padding: 2px;
	font-size: 25px;
	border: 1px solid black;
	border-radius: 5px 5px;
	margin: auto;
	margin-top: 122px;
	float:left;
	margin-left: -300px;
}
.missao-empresa p, .missao-empresa h2{
	color: #FFFFFF;
	text-align: center;
}


.promover{
	width: 200px;
	padding: 10px;
	background-color: #00BFFF;
	font-size: 25px;
	border: 1px solid black;
	border-radius: 5px 5px;
	margin: auto;
	margin-top: 122px;
	float:right;
	text-align: center;
	color: #FFFFFF;

	margin-right: 80px;
}

h3 {
	text-align: center;
    background-color: #58ACFA;
    padding: 5px;
    color: white;
    margin-bottom: 70px;
}

.t1{
	width: 250px;
	padding: 12px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 5px 5px;
	margin: auto;
	margin-top: 370px;
	float:left;
	margin-left: -280px;
	text-align: center;
}
.t2{
	width: 250px;
	padding: 12px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 5px 5px;
	margin: auto;
	margin-top: 113px;
	float:right;
	margin-right:690px;
	text-align: center;
}
.t3{
	width: 250px;
	padding: 12px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 5px 5px;
	margin: auto;
	margin-left: 638px;
	margin-top:-253px;
	float: left;
	text-align: center;
}
.t4{
	width: 250px;
	padding: 12px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 5px 5px;
	margin: auto;
	margin-top: -253px;
	float:right;
	margin-right:112px;
}
