.container {
    display: block;
}
.row {
    margin: 40px auto;
    color: black;
}
.item-container {
    display: block;
    margin 10px auto;
}
.item {
    display: inline-block;
    /* margin: 40px auto; */
    border: 1px solid #444;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 250px;
    height: 300px;
    padding: 10px;
}

h2 {
    background-color: #58ACFA;
    padding: 5px;
    color: white;
    margin-bottom: 70px;
}

p{
    font-size: 20px;

}
